* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    z-index: 1;
    height: 100px;
    width: 100%;
    padding: 0 122px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #000, #00000000);

    a img {
        height: 30px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 75px;
        padding: 0;
        margin: 0 20px;

        a {
            font: 20px Metronic Pro Light;
            text-decoration: none;
            color: #000;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }
    }
}


.cover-scene {
    a img {
        width: 100%;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
}

.scene-info {
    position: absolute;
    top: 55%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: auto 122px;
    z-index: 1;

    h1 {
        font: 50px Metronic Pro;
        max-width: 70%;
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;

        .button {
            border: none;
            background: none;

            img {
                height: 40px;
            }

            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }

        p {
            font: 24px Metronic Pro Air;
        }
    }

    #description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        max-width: 70%;

        p {
            font: 24px Metronic Pro Light;
            opacity: 0.8;
            line-height: 1.5;
        }

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 10px;

            li a {
                font: 20px Metronic Pro;
                text-decoration: none;
                color: #555;
                background-color: #111;
                border-radius: 3px;
                padding: 0 15px 3px 15px;

                &:hover {
                    color: #444;
                }
            }
        }
    }
}

.scenes,
.models {
    margin: auto 75px;

    .heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 25px auto;

        h2 {
            font: 28px Metronic Pro;
        }

        button {
            background: none;
            padding: 5px 25px;
            border: 1px solid #000;
            border-radius: 5px;
            font: 18px Metronic Pro;
            opacity: 0.8;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}


.scenes #recent-scenes {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    .scene-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-decoration: none;
        color: #000;
        gap: 15px;
        width: 100%;

        .image-container {
            position: relative;
            width: 100%;
        }

        img {
            height: 250px;
            border-radius: 5px;
            display: block;
        }

        p {
            font: 16px Metronic Pro Light;
        }

        h3 {
            font: 20px Metronic Pro;
            line-height: 1.5;
            margin-right: 20px;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }

        &:hover .overlay {
            opacity: 1;
        }
    }
}

.sponsor-box {
    width: 92%;
    display: block;
    margin: 0 auto;
}

.category-container {
    background-color: #0b0b0b;
    padding: 50px 100px;
    text-align: center;


    h2 {
        font: 50px Metronic Pro Semibold;
        margin: 10px auto;
    }

    p {
        font: 20px Metronic Pro;
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin: 50px auto;

        a {
            aspect-ratio: 35 / 40;
            background-size: cover;
            text-align: center;
            color: #000;
            text-decoration: none;
            transition: background-image 0.3s ease;
        }
    }
}

.models #top-models {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    margin: 30px auto;

    &::-webkit-scrollbar {
        display: none;
    }

    .model-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #000;
        gap: 15px;
        width: 100%;

        .image-container {
            position: relative;
            width: 100%;
        }

        .model {
            width: 300px;
            display: block;
            border-radius: 5px;
            mask-image: linear-gradient(to bottom, #000000ff 50%, #00000000 105%);
        }

        h3 {
            position: absolute;
            bottom: 7%;
            font: 20px Metronic Pro Semibold;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: 5px;
            transition: opacity 0.2s ease-in-out;
        }

        &:hover .overlay {
            opacity: 1;
        }
    }
}

footer {
    background-color: #0b0b0b;
    display: flex;
    flex-direction: column;
    align-items: center;

    .newsletter {
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
        align-items: center;

        img {
            width: 100px;
            margin: 75px 0;
        }

        .email {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 50px;
            gap: 10px;
            width: 40%;

            input {
                border: none;
                background-color: #000;
                width: 100%;
                padding: 0 15px;
            }

            button {
                border: none;
                font: 18px Metronic Pro;
                background-color: #222;
                padding: 0 20px;

                &:hover {
                    background-color: #333;
                }
            }
        }
    }

    .website-box {
        width: 900px;
        margin: 100px auto;
        opacity: 0.5;
    }

    .quick-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        margin: 75px auto;

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 15px;

            h3 {
                font: 20px Metronic Pro;
            }

            li a {
                font: 16px Metronic Pro Light;
                text-decoration: none;
                color: #000;
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .copywrite {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 70%;
        margin: 30px auto;
        gap: 30px;
        font: 16px Metronic Pro Air;

        span {
            cursor: default;
            opacity: 0.6;
        }

        p {
            cursor: pointer;
            opacity: 0.6;

            &:hover {
                text-decoration: underline;
                opacity: 1;
            }
        }
    }
}