* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    z-index: 1;
    height: 100px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #000000dd, #00000000);

    .hamburger {
        height: 20px;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    a .logo {
        top: 35px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 30px;
    }

    ul {
        list-style: none;
        justify-self: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 75px;
        padding: 0 20px;

        a {
            font: 20px Metronic Pro Light;
            text-decoration: none;
            color: #000;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }
    }
}

#landscape img {
    width: 100%;
    mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 0.5) 75%,
            rgba(0, 0, 0, 0) 100%);
}

#details {
    position: absolute;
    top: 78%;
    display: flex;
    flex-direction: column;
    margin: 0 122px;
    width: 60%;
    gap: 50px;

    h1 {
        font: 75px Metronic Pro Bold;
    }

    p {
        font: 20px Metronic Pro Light;
        line-height: 1.7;
        opacity: 0.9;
    }
}


.main-container {
    display: flex;
    flex-direction: column;
    margin: 0 120px;
    gap: 50px;

    h2 {
        font: 28px Metronic Pro;
        margin: 0 25px;
    }

    #scene-container {
        display: flex;
        flex-direction: column;
        width: 80%;

        .scene {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 50px;
            text-decoration: none;
            color: #000;
            padding: 20px;
            border-bottom: 1px solid #333;
            transition: background-color 0.3s ease;

            .count {
                margin: 10px 10px 10px 40px;
                font: 30px Metronic Pro Air;
                opacity: 0.8;
            }

            .image-container {
                position: relative;

                img {
                    height: 200px;
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 200px;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }
            }

            &:hover {
                background-color: #222;

                .image-container .overlay {
                    opacity: 1;
                }
            }

            .detail {
                display: flex;
                flex-direction: column;
                gap: 25px;

                h2 {
                    font: 24px Metronic Pro;
                    width: 90%;
                    line-height: 1.5;
                    margin: 0;
                }

                .misc {
                    display: flex;
                    flex-direction: row;
                    gap: 50px;
                    font: 16px Metronic Pro Air;
                    opacity: 0.7;
                }

                p {
                    font: 18px Metronic Pro Air;
                    width: 90%;
                    opacity: 0.8;
                    line-height: 1.5;
                }
            }
        }

        .scene:first-child {
            border-top: 1px solid #333;
        }
    }
}








footer {
    background-color: #0b0b0b;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100px;
        margin: 75px;
    }


    .quick-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 15px;

            h3 {
                font: 20px Metronic Pro;
            }

            li a {
                font: 16px Metronic Pro Light;
                text-decoration: none;
                color: #000;
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .copywrite {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 70%;
        padding: 30px 0;
        border-top: 1px solid #00000030;
        gap: 30px;
        font: 16px Metronic Pro Air;

        span {
            cursor: default;
            opacity: 0.6;
        }

        p {
            cursor: pointer;
            opacity: 0.6;

            &:hover {
                text-decoration: underline;
                opacity: 1;
            }
        }
    }
}